/*** Navigation Bar Elements ***/

/*Navbar*/
.navbar {
    background-color: #ed5757;
}

/*Icons*/
.bi {
    max-width: 16px;
    max-height: 16px;
    color: #ed5757;
}

.bi-heart-pulse {
    color: white;
}

.bi-tools {
    color: #D3D3D3;
}

.website-name {
    color: white;
    font-family: monospace;
}

.search-input {
    border-color: transparent;
    border-radius: 8px;
}

.compose-button {
    background-color: white;
    border-color: transparent;
    font-family: monospace;
    color: #ed5757;
    border-radius: 12px;
}

.compose-button:hover {
    background-color: lightgray;
}

/** Navigation Column **/
.navigation-lists {
    font-family: monospace;
}

/* Inbox Column */
.inbox-box {
    gap:20px;
    font-family:monospace;
}

.inbox-subject {
    display: flex;
    height: auto;
    max-width: 100%; 
    justify-content:space-between;
}

/* Message Column */
.message-pfp-border {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 0%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.message-pfp {
    background-image: url('https://www.stockvault.net/data/2010/11/24/116240/thumb16.jpg');
}