.border-divider {
    border-left: 1px solid lightgray;
}

* {
    font-family: monospace;
}

@media all and (max-width: 600px) {
    /*Hide border when in mobile mode*/
    .border-divider {
        border-left: transparent;
    }
}

/*Icons*/
.bi {
    max-width: 20px;
    max-height: 20px;
    color: #ed5757;
}

.bi-heart-pulse {
    color: white;
}

.bi-tools {
    color: #D3D3D3;
}

/*** Navigation Bar Elements ***/

/*Navbar*/
.navbar {
    background-color: #ed5757;
}

.website-name {
    color: white;
}

.search-input {
    border-color: transparent;
    border-radius: 8px;
}

.compose-button {
    background-color: white;
    border-color: transparent;
    color: #ed5757;
    border-radius: 12px;
}

.compose-button:hover {
    background-color: lightgray;
}

/* Inbox Column */
.inbox-box {
    gap: 20px;
}

/* Message Column */
.message-pfp-border {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 0%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.message-pfp {
    background-image: url('https://www.stockvault.net/data/2010/11/24/116240/thumb16.jpg');
}

