/*** Navigation Bar Elements ***/

/*Navbar*/
.navbar {
    background-color: #ed5757;
}

/*Icons*/
.bi {
    max-width: 16px;
    max-height: 16px;
    color: #ed5757;
}

.bi-heart-pulse {
    color: white;
}

/*Website Name*/
.website-name {
    color: white;
    font-family: monospace;
}

.search-input {
    border-color: transparent;
    border-radius: 8px;
}

/* Compose Button */
.compose-button {
    background-color: white;
    border-color: transparent;
    font-family: monospace;
    color: #ed5757;
    border-radius: 12px;
}

.compose-button:hover {
    background-color: lightgray;
}

/** Navigation Column **/
.navigation-lists {
    font-family: monospace;
}